{% extends "repuestosalinstante/index.html" %}

{% block titulo %}

{% endblock titulo %}


{% block icontenido %}
<h1 class="mb-5">Bienvenidos a la página RepuestosAlInstante</h1>
    <h2>Sobre el proyecto y su creadora </h2>
    <p> Hola! Mi nombre es Andrea Vilche y la idea de crear este proyecto de página web en forma de tienda online nace de ideas que venimos teniendo con algunos amigos para armar nuestro propio emprendimiento de venta de repuestos y pense que utilizar el curso de Python para armar esto sería una idea no solo buena sino que también productiva. Sin más, los dejo navegar por la página, saludos cordiales!. </p>
{% endblock icontenido %}

{% block Contenido %}

{% endblock Contenido %}
    