{% extends 'repuestosalinstante/index.html' %}


{% block titulo %}

{% endblock titulo %}

<!-- Contenido específico de la página -->

{% block icontenido %}

<table>
    <tr>
        <td width="200"><h2>Categorias de Productos</h2></td>
        <td>
            <a
            href="{% url 'categoria_create' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>        
    </tr>
</table>

<title>Productos catalogados</title>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Descripcion</th>
            <th>Marca</th>
        </tr>
    </thead>
    <tbody>
    {% for c in categoria  %}
        <tr>
            <td>{{ c.nombre }}</td>
            <td>{{ c.descripcion }}</td>
            <td>{{ c.marca }}</td>

            <td>
                <a
                  href="{% url 'categoria_update' m.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'categoria_delete' m.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
            </td>  
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock icontenido %}


{% block Contenido %}

{% endblock Contenido %}
    