{% extends 'repuestosalinstante/index.html' %}


{% block titulo %}

{% endblock titulo %}

<!-- Contenido específico de la página -->
{% block icontenido %}

<table>
    <tr>
        <td width="200"><h2>Marcas</h2></td>
        <td>
            <a
            href="{% url 'create_marca' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>        
    </tr>
</table>

<title>Marcas</title>

<h2> Estas son algunas de las marcas con las que trabajamos </h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Pais de origen</th>
        </tr>
    </thead>
    <tbody>
    {% for m in marca_list  %}
        <tr>
            <td>{{ m.nombre }}</td>
            <td>{{ m.pais_origen }}</td>

            <td>
                <a
                  href="{% url 'update_marca' m.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'delete_marca' m.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
            </td>  
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock icontenido %}


{% block Contenido %}

{% endblock Contenido %}
    